<h1 class="text-center">Загрузить список из файла</h1>

<p class="text-center">Условия для добавления записи:</p>
<ul>
  <li>Формат ввода: Имя_возраст</li>
  <li>Имя должно начинаться с заглавной буквы</li>
  <li>Имя содержит только символы кириллицы или латиницы</li>
  <li>Возраст может содержать значения от 1 до 120</li>
  <li>Уже существующие имена будут проигнорированы</li>
</ul>

<div class="text-center input-frame">
  <input class="form-control" type="file" accept=".txt"
         (change)="onChange($event)">

  <button (click)="onUpload()"
          class="btn btn-success">
    Загрузить
  </button>
</div>

<div class="container text-center jumbotron"
     *ngIf="message" style="color: mediumseagreen">
  <p id="response">{{message}}</p>
</div>

<div class="container text-center error" *ngIf="error">
  <p id="error-message">{{error}}</p>
</div>
