h1 {
  font-size: 26px;
  margin-top: 8%;
}

p {
  margin-top: 4%;
  font-size: 17px;
  color: #969696;
}

ul {
  width: 400px;
  margin-left: 37%;
  margin-top: -1%;
  font-size: 14px;
  color: #5c5b5b;
}

input {
  width: 300px;
  margin-left: 38.5%;
}

button {
  margin-top: 1%;
}

.input-frame {
  margin-top: 6%;
}

#response {
  color: #32a852;
}

#error-message {
  color: #692724;
}
