<h1>Статистика</h1>

<h3 *ngIf="requestsAmount != null">Всего запросов: {{requestsAmount}}</h3>

<!--<table class="table table-striped">-->
<!--  <thead>-->
<!--  <tr>-->
<!--    <th> Имя </th>-->
<!--    <th> Количество запросов </th>-->
<!--    <th> Частотность в разрезе имён </th>-->
<!--  </tr>-->
<!--  </thead>-->
<!--  <tbody>-->
<!--  <tr *ngFor = "let person of people">-->
<!--    <td> {{ person.name }} </td>-->
<!--    <td> {{ person.age }} </td>-->
<!--    <td> {{ person.age }} </td>-->
<!--  </tr>-->
<!--  </tbody>-->
<!--</table>-->
