<h1 class="text-center">Статистика</h1>

<h3 class="text-center" *ngIf="oldestPeople.length != 0">1. Имена людей с наибольшим возрастом: <span *ngFor="let oldPerson of oldestPeople">{{oldPerson.name}} </span></h3>
<h3 class="text-center" *ngIf="oldestPeople.length == 0">1. Пока что не добавлено ни одного человека</h3>

<h3 class="text-center" *ngIf="requestsAmount != null">2. Всего запросов: {{requestsAmount}}</h3>
<table class="table table-dark" *ngIf="peopleStat">
  <thead>
  <tr>
    <th> Имя </th>
    <th> Количество запросов </th>
    <th> Частотность в разрезе имён, % </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor = "let person of peopleStat">
    <td> {{ person.name }} </td>
    <td> {{ person.amount }} </td>
    <td> {{ person.freq }} </td>
  </tr>
  </tbody>
</table>
