<h1 class="text-center">Ввод произвольного имени</h1>

<p class="text-center">Введите имя, 2 варианта результата</p>
<ol>
  <li>Имя уже существует, тогда будет выведен возраст человека</li>
  <li>Имени ещё нет в списке, значение возраста будет получено случайно, а запись добавлена в список</li>
</ol>

<form (submit)="onSubmit()">
  <input [(ngModel)]="inputName" name="name-field" type="text" class="form-control"  placeholder="Введите имя">
  <button type="submit" class="btn text-center">Готово!</button>
</form>

<p id="result">Результат</p>
<div class="response text-center">
  <h2 *ngIf="flag"> {{response}} </h2>
</div>

<h2 id="error" class="text-center" *ngIf="error">{{error}}</h2>
